USE [IFRS]
GO
/****** Object:  StoredProcedure [dbo].[tsu__private_addFailureExt]    Script Date: 12/05/2008 12:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   PROCEDURE [dbo].[tsu__private_addFailureExt] @test NVARCHAR(255), @errorMessage NVARCHAR(255)
-- GENERAL INFO:    This stored procedure is a part of the tsqlunit
--                  unit testing framework. It is open source software
--                  available at http://tsqlunit.sourceforge.net
--
-- DESCRIPTION:     This procedure makes an internal notice when a failure has occurred. 
-- PARAMETERS:      @test               The name of the test
--                  @errorMessage       A description of the failure
--
-- RETURNS:         Nothing
-- 
-- VERSION:         tsqlunit-0.9
-- COPYRIGHT:
--    Copyright (C) 2002  Henrik Ekelund 
--    Email: <http://sourceforge.net/sendmessage.php?touser=618411>
--
--    This library is free software; you can redistribute it and/or
--    modify it under the terms of the GNU Lesser General Public
--    License as published by the Free Software Foundation; either
--    version 2.1 of the License, or (at your option) any later version.
--
--    This library is distributed in the hope that it will be useful,
--    but WITHOUT ANY WARRANTY; without even the implied warranty of
--    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
--    Lesser General Public License for more details.
--
--    You should have received a copy of the GNU Lesser General Public
--    License along with this library; if not, write to the Free Software
--    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
AS
SET NOCOUNT ON
DECLARE @id INTEGER
SET @id=1--(SELECT MAX(testResultID) FROM tsuTestResults)

INSERT INTO tsuFailuresExt( test, message, testResultID) VALUES(@test,@errorMessage, @id)



